<div data-section-id="{{ section.id }}" data-section-type="collections-list-template">
    <hr>
    <!-- <div class="section-header">
      <h2 class="h1  section-header--left">{{ 'homepage.featured_collections.heading' | t }}</h2>
      <div class="section-header--right">
        </div>
    </div> -->

    <div class="grid-uniform grid-custom-uniform">
    <div class="grid-item grid-custom-item">
      <div class="grid-custom-div">

       
          <div class="grid-sub-div small--one-half medium--one-third large--one-sixth text-center tab1">
            <img src="{{ 'beauty.jpeg' | asset_url }}" alt="The Soap Store" class="tab_img">
            <h2>Beauty</h2>
          </div>
          

          <div class="grid-sub-div small--one-half medium--one-third large--one-sixth text-center tab2">
            <img src="{{ 'coat.jpeg' | asset_url }}" alt="Image" class="tab_img">
            <h2>Coats & Jackets</h2>
          </div>
          
          

          <div class="grid-sub-div small--one-half medium--one-third large--one-sixth text-center tab3">
            <img src="{{ 'dress1.jpeg' | asset_url }}" alt="Image" class="tab_img" >
            <h2>Dresses</h2>
          </div>

          

       
      </div>
    </div>
    </div>





   
  </div>